@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Electron) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #282828; /* yt-dark-gray */
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #282828; /* yt-dark-gray */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #282828;
}